

/***********千机网技术中心弹框*************/



.avatar {
    width: 80px;
    height: 80px;
    background: #e6e6e6;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.experts_container {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
}

.single_person {
    flex-grow: 1;
    margin-right: 10px;
    text-align: center;
}

.single_person div:nth-child(2) {
    color: #333333;
    font-size: 14px;
}


.single_person div:nth-child(3) {
    background: #F6A772;
    color: #fff;
    width: 80%;
    margin: 0 10%;
    padding: 1px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
}

.tc_staff_structure {
    color: #333333;
    font-size: 14px;
    margin-top: 10px;
}

.qj_picker_title {
    color:#333;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.experts_title {
    color: #333333;
    font-size: 14px;
    margin-top: 10px;
}

.jcImage {
    background: #e6e6e6;
    height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.qj_picker {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding-bottom: env(safe-area-inset-bottom);
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: 0 10px 15px; 
    height: 500px;
    overflow-y: auto;
}

.show_qjp {
    display: block;
}

.hide_qjp {
    display: none;
}

.QJPopup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    z-index: 9;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    transition: all .2s;
    display: block;
}

/***********千机网技术中心弹框*************/

















/****地区弹框选择默认样式修改***/

.am-picker .am-picker-col:last-child {
    display:none !important;
}

.am-picker-col-item {
    font-size: 15px;
    color: #999 !important;
}

.am-picker-col-item-selected {
    color: #E46713 !important;
}

.am-picker-popup-item {
    font-size: 15px !important;
    color: #333 !important;
}

.am-picker-popup-header-left {
    color: #666 !important;
}

.am-picker-popup-header-right {
    color: #E46713 !important;
}
 
.am-list-item .am-list-line .am-list-extra {
    flex-basis: auto !important;
}

.am-picker-popup-content {
    width: 100% !important;
}

.am-picker-popup-header {
    background: #f8f8f8 !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.am-picker-popup {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

/****地区弹框选择默认样式修改****/

.picker_area {
    width: 100%;
}

.jcName {
    display: inline-block;
}

.submit_inq {
    display: flex;
    justify-content: center;
    /* background: #FAFAFA; */
}

.submit_inq .sub_btn {
    padding: 6px 80px;
    border: 1px solid #999999;
    border-radius: 50px;
    color: #333333;
    font-size: 16px;
}

.content_box {
    /* border: 1px solid #E0E0E0;
    border-radius: 5px; */
    margin: 15px 10px 5px;
    width: calc(100% - 20px);
}

.am-textarea-control textarea {
    -webkit-user-select: auto;
}

.am-textarea-item{
    border: 1px solid #E0E0E0;
    border-radius: 5px;
}

.question_classification {
    padding-bottom: 10px;
}

.question_item {
    background:#ECECEC;
    color: #666666;
    width: 90px;
    height: 38px;
    margin: 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.selected_tag {
    background:#f35e00;
    color: #fff;
    width: 90px;
    height: 38px;
    margin: 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    border-radius: 5px;
}

.question_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    padding: 0 15px;
}

.select_tag {
    font-size: 14px;
    color: #666666;
    padding: 15px;
}

.show_unload {
    display: block;
    animation: hideIndex 0.3s;
    -moz-animation: hideIndex  0.3s; /* Firefox */
    -webkit-animation: hideIndex  0.3s; /* Safari and Chrome */
    -o-animation: hideIndex  0.3s; /* Opera */
}

.am-image-picker-list {
    padding-left: 10px !important;
}

.hide_unload {
    display: none;
}

@keyframes hideIndex {
    0%{ opacity: 0; transform: translate(800px, 0) }
    100%{opacity: 1; transform: translate(0, 0) }
}

.am-textarea-control textarea{
    font-size: 14px;
    width: calc(100% - 15px);
}

.am-textarea-count {
    right: 15px !important;
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 15px;
    resize:none;
}

.am-list-item .am-list-line .am-list-extra {
    font-size: 14px !important;
}

.am-list-item .am-list-line .am-list-content {
    font-size: 14px !important;
    color: #333333;
}

.reminder {
    display: inline-block;
    color: #999999;
    margin-right: 10px;
    font-size: 14px !important;
}

.SubmitInquiry {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background:linear-gradient(180deg,rgba(248,175,126,1),rgba(228,103,19,1));
}

.area_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
