

.article_content {
    padding: 25px 20px 48px;
}

.relative_title {
    padding: 18px 20px 0;
    font-size:14px;
    color: #333;
}
.relative_article {
    min-height: calc(100% - 196px);
}
.Detail_Article {
    height: 100%;
}