.eye_inline {
    float: left;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #666666;
}
.eye {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top:1px;
    font-size: 13px;
    color:#666666;
}
.eye_inline {
    font-size: 12px;
}