.img {
    width: 100%;
    height: 100%;
    float: left;
}
.back  {
    width: 11px;
    height: 20px;
}
.search_col {
    height: 100%;
    width: calc(100% - 30px);
}
.back_search {
    width: 100%;
    padding: 0 15px;
    margin-top: 10px;
    height: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}