@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
     }
    25% {
        opacity:0.25;
    }
    50% {
        opacity: 0.5;    
    }
    75% {
        opacity:0.75;
    }
    100% {
        opacity:1;
    }
}

.like_b_box {
    display: flex;
    justify-content: center;
}

.like_c_box {
    display: flex;
    flex-direction: column;
}

.recommended_img {
    -webkit-animation-name: fadeIn;
   -webkit-animation-timing-function: ease-in-out;
   -webkit-animation-duration: 0.5s;
   -webkit-animation-direction: alternate;
}


.home-server-item {
    padding: 10px 10px 10px 12px;
}

.jaView {
    color: #333;
    font-size: 12px;
}
.recommendation_img {
    display: block;
    width: 100%;
    height: 166px;
    margin-top: 160px;
}


/****************Article************/


.en_article_content p{
    margin:0;
    padding: 0;
    word-break: break-all;
    line-height: 30px;
}

.en_article_content p img {
    width: 100%;
}
.en_article_content{
    width: 100%;
    margin-top: 12px;
    color: #666666;
    font-size: 12px/22px;
    font-family:PingFangSC-Regular;
    overflow-y: auto;
}
.article_title {
    color: #333333;
    font-size: 15px/30px;
    font-weight: 600;
    font-family:PingFangSC-Regular;
}
.right_article {
    height: 100%;
    padding: 10px;
    width: calc(100% - 100px);
    overflow: auto;
}
.active_menu {
    transition:all .3s;
    display: block;
}
.height_0{
    transition:all .3s;
    height: 0;
    display: none;
}
.jiao {
    width: 13px;
    height: 8px;
    display: inline-block;
    margin-right: 8px;
}
.jiao_up{
    transition:all .3s;
    transform:rotate(180deg);
}
.menu_title {
    font-size: 12px/22px;
    color: #333;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #E0E0E0;
    text-align: left;
    padding-left: 15px;
}
.memu_item_kid{
    display: block;
    color: #999;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
/* .memu_item_kid:hover {
    color: #E46713;
    background:#fee0cf;
} */
.memu_item_kid_active {
    color: #E46713;
    background:#fee0cf;
}

.memu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inherit{
    height: inherit;
}
.article_left_menu {
    width: 100px;
    box-sizing: border-box;
    height: 100%;
    border-right: 1px solid #E0E0E0;
}
.Article {
    display: flex;
    height: calc(100% - 97px + 8px);
    background:rgba(250,250,250,1);
    margin-top: 10px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}
/****************Article************/

/**********Header**********/
.Encyclopedia {
    width: 100%;
    height: 100%;
    background:linear-gradient(180deg,rgba(248,175,126,1),rgba(228,103,19,1));
}
/**********Header**********/