.info_content {
    color: #333;
    font-size:14px;
    word-break: break-all !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}
.ant-tabs-bar {
    margin: 0 !important;
}
.in_block {
    float: left;
    display: flex;
    align-items: center;
}
.heart_box {
    margin-left:20px;
}
.praise_num .view_num {
    float: left;
}
.eye {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top:1px;
    font-size: 13px;
    color:#666666;
}
.view_like{
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color:#666666;
}
.Card_Horizontal_right_img img {
    border-radius:5px;
}
.Card_Horizontal_right_img {
    width:140px;
    height: 80px;
    border:1px solid rgba(224,224,224,1);
    border-radius:5px;
    padding: 2px;
}
.Card_Horizontal_left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 60%;
}
.Card_Horizontal_item {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    padding: 15px 0;
    width: calc(100% - 40px);
    border-bottom: 1px solid rgba(224,224,224,1);
}