

.detail_info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.detail_info .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #e6e6e6;
}
.jmName {
    margin: 0 10px;
}
.jmType{
    background: #F6A772;
    color: #fff;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 13px;
}
.jccCreatetime {
    position: absolute;
    right: 20px;
}
.jccContent {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}





/***my_inquiry_list**/

.my_inquiry_back {
    padding: 10px 0 10px 12px;
}

.content_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.my_inquiry_item {
    /* margin: 0 10px; */
    padding: 10px 0;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
}
.my_inquiry_list {
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
/***my_inquiry_list**/


.myinquiry_sec {
    width: 100%;
    padding: 0 15px;
    margin-top: 12px;
    height: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.myinquiry_search {
    height: inherit;
    width: 70%;
    margin-left: 10px;
}

.ask_q {
   height: inherit;
}

.MyInquiry_Blank {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 99px);
    background:#fff;
    margin-top: 10px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.MyInquiry {
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background:linear-gradient(180deg,rgba(248,175,126,1),rgba(228,103,19,1));
}