






.result_view {
    width: 70px;
    text-align: right;
}

.VideoStream{
    background: #fff;
    padding: 17px 13px 0;
}

.back_area {
    padding: 10px 20px 10px 12px;
    position: absolute;
    left: 0;
}

.r_jaTitle {
    font-size: 14px;
    color: #333;
    font-family:PingFangSC;
    font-weight:400;
}

.r_jaContent {
    color: #999;
    font-size: 13px;
    word-break: break-all !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    margin: 5px 0;
}

.result_item {
    width: 100%;
}
.r_view_like {
    color: #666666;
    font-size: 12px;
}

.r_time_view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.r_publish_time {
    font-size: 12px;
    color: #999;
}

.Search_Result {
    height: 100%;
}

/*****fix_bar*****/
.consulting_box {
    height: 35px;
}
.bar_tip{
    font-size: 14px;
    color: #333;
}
.fix_bar{
    width: 100%;
    height:67px;
    background:rgba(255,255,255,0.95);
    box-shadow:0px 0px 10px 0px rgba(0,0,0,0.15);
    opacity:0.9;
    position: fixed;
    left:0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
/*****fix_bar*****/

/****List*****/
.time {
    margin-left: 8px;
}
.bottom_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list_bottom{
    display: flex;
    flex-direction: row;
    color: #999;
    font-size: 12px;
    justify-content: space-between;
    margin-top: 10px;
}
.list_content{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.list_title{
    font-size:14px;
    color: #333;
}
.list_item{
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}
.list_main{
    /* padding: 0 15px; */
    /* width: calc(100% - 38px); */
}
.List {
    height: calc(100% - 68px - 50px - 67px);
    padding-bottom: 67px;
    display: none;
    transition: all .2s;
    overflow: auto;
}
.List::-webkit-scrollbar {
    display: none;
  }
/****List*****/

/******Hot**/
.bottom_line{
    border-bottom: 1px solid #E0E0E0;
}
.hot_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #999;
    font-size: 14px;
}
.hot_row_item {
    padding: 10px;
}
.hot_main{
    display: flex;
    flex-direction: column;
}
.hot_title{
    font-size: 14px;
    margin-left: 10px;
}
.hot_img{
    width: 13px;
    height: 18px;
}
.hot_top{
    margin-top: 20px;
    color: #666666;
    font-size:14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hide_hot{
    display: none;
    transition: all .2s;
}
.show_hot{
    transition: all .2s;
    display: block;
}
.Hot{
    /* width: calc(100% - 40px); */
    padding: 0 20px;
}
/******Hot**/

/******Result_Search****/
.clean_btn {
    width: 19px;
    height: 19px;
}
.clean{
    position: absolute;
    padding: 8px 9px 8px 8px;
    right: 0;
    opacity: 0;
    transition: all .2s;
}
.show_clean {
    opacity: 1;
    transition: all .2s;
}
.img_search {
    width: 100%;
    height: 100%;
    display: inline-block;
}
.result_magnifier{
    /* width: 20px;
    height: 20px; */
    position: absolute;
    /* left: 10px; */
    cursor: pointer;
    padding: 8px;
}
input {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px PingFangSC-Regular;
    -webkit-writing-mode: horizontal-tb !important;
}
.am-list-item .am-input-clear {
    position: absolute !important;
    right: 8px !important;
    z-index: 9 !important;
    /* width: 19px !important;
    height: 19px !important;
    background-position: 1px 1px !important; */
}
.keyword {
    color: #666;
    margin: 0 5px;
}
.am-list-item .am-input-control input {
    font-size: 14px !important;
    color: #999999 !important;
    -webkit-user-select:auto;
}
.am-list-item .am-list-line::after {
    background: #fff !important;
}
.am-list-item .am-list-line {
    padding-right: 0 !important;
}
.am-list-item .am-input-control input::-webkit-input-placeholder{
    line-height: normal;
}
.am-list-item {
    min-height: 35px !important;
}
.Result_Search .result_search {
    border: 0;
    border: 1px solid #e0e0e0;
    background: #FCFCFC;
    border-radius: 15px;
    outline: none;
    width: 100%;
    height: 35px;
    border-radius: 19px;
    padding: 0 0 0 32px;
    box-sizing: border-box;
    color: #999999;
    font-size: 14px;
    -webkit-user-select:auto;
    line-height: 1;
    -webkit-appearance: none;
}
.Result_Search{
    position: relative;
    display: flex;
    align-items: center;
}
/******Result_Search****/
.Result{
    /* width: calc(100% - 26px); */
    padding: 15px 13px 0;
}