
.section_bar {
    width: 100%;
    height: 10px;
    background: #fafafa;
}

.am-list-body {
    position: static !important;
}

.am-list-body::before, .am-list-body::after {
    height: 0 !important;
}

/**********card_horizontal*********/
.info_content {
    color: #333;
    font-size:14px;
    word-break: break-all !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}
.ant-tabs-bar {
    margin: 0 !important;
}
.in_block {
    float: left;
    display: flex;
    align-items: center;
}
.heart_box {
    margin-left:20px;
}
.praise_num .view_num {
    float: left;
}
.eye {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-top:1px;
    font-size: 13px;
    color:#666666;
}
.view_like{
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color:#666666;
}
.Card_Horizontal_right_img img {
    border-radius:5px;
    object-fit: cover;
    background: #e6e6e6;
    background-size: cover !important;
    background-position: center !important;
}
.Card_Horizontal_right_img {
    width:140px;
    height: 80px;
    border:1px solid rgba(224,224,224,1);
    border-radius:5px;
    padding: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.Card_Horizontal_left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    width: 60%;
}
.Card_Horizontal_item {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    padding: 15px 0;
    width: calc(100% - 40px);
    border-bottom: 1px solid rgba(224,224,224,1);
}
.Card_Horizontal {
    width: 100%;
    height: 100%;
    display: inline-block;
}
/**********card_horizontal*********/


/***loading_img***/
.Loading {
    display: block;
    transition: all .2s;
    display: flex;
}
.Loaded {
    display: block;
    transition: all .2s;
}
.loading_img {
    width: 30px;
    height: 30px;
    -webkit-animation:haha1 .8s linear infinite;
}
@-webkit-keyframes haha1{

   0%{-webkit-transform:rotate(0deg);}

   25%{-webkit-transform:rotate(90deg);}

   50%{-webkit-transform:rotate(180deg);}

   75%{-webkit-transform:rotate(270deg);}

   100%{-webkit-transform:rotate(360deg);}

}
/***loading_img***/

/******ensyclopedia_header*****/
.img {
    width: 100%;
    height: 100%;
    float: left;
}
.back  {
    width: 11px;
    height: 20px;
}
.search_question {
    display: flex;
    position: relative;
    align-items: center;
    height:100%;
    background:rgba(252,252,252,0.95);
    box-shadow:0px 0px 11px 0px rgba(0,0,0,0.15);
    opacity:0.9;
    border-radius:19px;
}
.search_col {
    height: 100%;
    width: calc(100% - 30px);
}
.back_search {
    width: 100%;
    padding: 0 15px;
    margin-top: 12px;
    height: 35px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.title_ea {
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-family: PingFangSC-Regular;
    padding-top: 36px;
}
/******ensyclopedia_header*****/

/***tab_bar**/
.tab_content {
    height: 100%;
}
.tab_item{
    padding: 0 12px;
    color: #666;
    font-size: 14px;
    height: 46px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tab_item:hover {
    color: #E46713;
}
.tab_item.active {
    border-bottom: 2px solid #E46713;
    color: #E46713;
    border-radius: 1px;
    transition: all .3s;
}
.tab_bar_box{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom:1px solid #e0e0e0;
}
.tab_bar{
    width: 100%;
    outline: none;
    position: relative;
    box-sizing: border-box;
    margin-bottom: -1px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
}
/***tab_bar**/

.background_white{
    width: 100%;
    /* background: #fff; */
    /* height: 100%; */
    /* position: relative; */
    /* overflow: auto; */
    /* background:linear-gradient(180deg,rgba(248,175,126,1),rgba(228,103,19,1)); */
}

.banner_img {
    width: 100%;
    /* height: 100%; */
    float: left;
}

.Redius_Blank{
    min-height: calc(100% - 78px);
    /* overflow: auto; */
    background: #fff;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


/*******TabsCard***/

.TabsCard {
    width: 100%;
    height: auto;
    background: #fff;
}
.ant-tabs-top .ant-tabs-ink-bar-animated {
    width: 46px !important;
    position: relative !important;
    left: 10.7% !important;
}
@media screen and (max-width: 414px) {
    .ant-tabs-top .ant-tabs-ink-bar-animated{
        left: 10.7% !important;
    }
}
@media screen and (max-width: 375px) {
    .ant-tabs-top .ant-tabs-ink-bar-animated{
        left: 6.7% !important;
    }
}
@media screen and (max-width: 360px) {
    .ant-tabs-top .ant-tabs-ink-bar-animated{
        left: 5% !important;
    }
}
.ant-tabs-nav-container-scrolling {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.ant-tabs-nav {
    width: 100% !important;
    text-align: center !important;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color: #E46713 !important;
}
.ant-tabs-ink-bar {
    left: 15px !important;
    background-color: #E46713 !important;
}
.ant-tabs-tab-prev.ant-tabs-tab-arrow-show, .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    opacity: 0 !important;
}
.ant-tabs-nav .ant-tabs-tab {
    margin: 0 4px !important;
}

/********TabsCard*****/

body,html{
    -webkit-overflow-scrolling: touch;
}