/***tab_bar**/
.tab_item{
    padding: 0 12px;
    color: #666;
    font-size: 14px;
    height: 46px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.tab_item:hover {
    color: #E46713;
}
.tab_item.active {
    border-bottom: 2px solid #E46713;
    color: #E46713;
    border-radius: 1px;
    transition: all .3s;
}
.tab_bar_box{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #E0E0E0;
    box-sizing: border-box;
}
.tab_bar{
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    outline: none;
    position: relative;
    box-sizing: border-box;
    margin-bottom: -1px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5;
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
}
/***tab_bar**/

.background_orange{
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background:linear-gradient(180deg,rgba(248,175,126,1),rgba(228,103,19,1));
}

.banner_img {
    width: 100%;
    height: 100%;
    float: left;
}

.Redius_Blank{
    position: absolute;
    top: 78px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(250,250,250,1);
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}


/*******TabsCard***/

.TabsCard {
    width: 100%;
    height: auto;
}
.ant-tabs-top .ant-tabs-ink-bar-animated {
    width: 46px !important;
    position: relative !important;
    left: 10.7% !important;
}
@media screen and (max-width: 414px) {
    .ant-tabs-top .ant-tabs-ink-bar-animated{
        left: 10.7% !important;
    }
}
@media screen and (max-width: 375px) {
    .ant-tabs-top .ant-tabs-ink-bar-animated{
        left: 6.7% !important;
    }
}
@media screen and (max-width: 360px) {
    .ant-tabs-top .ant-tabs-ink-bar-animated{
        left: 5% !important;
    }
}
.ant-tabs-nav-container-scrolling {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.ant-tabs-nav {
    width: 100% !important;
    text-align: center !important;
}
.ant-tabs-nav .ant-tabs-tab-active {
    color: #E46713 !important;
}
.ant-tabs-ink-bar {
    left: 15px !important;
    background-color: #E46713 !important;
}
.ant-tabs-tab-prev.ant-tabs-tab-arrow-show, .ant-tabs-tab-next.ant-tabs-tab-arrow-show {
    opacity: 0 !important;
}
.ant-tabs-nav .ant-tabs-tab {
    margin: 0 4px !important;
}

/********TabsCard*****/